.dashboard-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "dashboard-header"
    "dashboard-main";
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(90deg, $gradient-primary, $gradient-secondary);
}

.dashboard-header {
  grid-area: dashboard-header;
  box-sizing: border-box;
}

.dashboard-main {
  grid-area: dashboard-main;
  box-sizing: border-box;
  background: #fff;
  overflow-y: auto;
  padding: 18px;
  // margin: 0px 6px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.project-nav {
  display: flex;
}

.side-image-container {
  background: linear-gradient(0.25turn, $gradient-primary, $gradient-secondary);
  min-height: 100vh;
  img {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
}

.boards-container {
  display: flex;
  width: 100%;
  overflow-x: auto;
  flex: 1;
  .board-item {
    margin: 2px 7px;
    min-width: 280px;
  }
}
